/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253 */


.title {
    background-color: ;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(assets/burger-friends.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh
}

.choice-selection-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.inline-block-left-side {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    background-color: rgba(225, 225, 225, .9);
    padding: 20;
    margin: 50px;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    text-align: left;
    border-radius: 0;
    width: 500px;
    height: 300px
}

.inline-block-right-side {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    background-color: rgba(225, 225, 225, .9);
    padding: 20;
    margin: 50px;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    text-align: center;
    border-radius: 0;
    width: 500px;
    height: 300px
}

.cookpotImage {
    max-width: 100%;
    max-height: 100%;
}


h1 {
    font-size: 30px
}

h2 {
    font-size: 20px
}

#letsCook {
    background-color: #0fb9b1;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px
}

