/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253 */


header {
    background-color: #0fb9b1;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(assets/burger-friends.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.two-boxes-container {
    display: flex;  
    /*  ^centers the two boxes on the page */
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
}

.container {
    flex: 1;
    align-items: center;
    /* vertical-align: center; this didn't do anything when I got rid of it */
    justify-content: center;
    background-color: rgba(225, 225, 225, .9);
    padding: 2%;
    margin: 12%;
    border-radius: 0;
    text-align: left center;
    width: 100%;
}

.cookpot-container {
    display: flex;
}

.hidden {
    display: none;
}


.cookpotImage {
    width: 150px;
    height: 300px;
    align-items: center;
    padding: 30%;
    align-content: center;
}


h1 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

#letsCook {
    background-color: #0fb9b1;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

label {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

#dishResult {
    display: flex;
    align-items: center;
    text-align: center; 
    font-family: 'Roboto', sans-serif;
    font-size: 40px
}

#youShouldMake {
    font-style: italic;
}